{% lod static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XD</title>
    <script src="https://kit.fontawesome.com/d09e218dd5.js" crossorigin="anonymous"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    
</head>

<body>
    <div class="top-bar">
        <a class="login hehe navside"> Login </a>
    </div>
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li class="navside">
                    <a href="#" class="hehe"><i class="fas fa-graduation-cap"></i>My Tuitions</a>
                </li>
                <li class="navside">
                    <a href="#"><i class="fas fa-search"></i>Search</a>
                </li>
                <li class="navside">
                    <a href="#"><i class="fas fa-calendar"></i>Schedule</a>
                </li>
                <li class="navside">
                    <a href="#"><i class="fas fa-location-dot"></i>Location</a>
                </li>
                <li class="navside">
                    <a href="#"><i class="fas fa-question"></i>Quiz</a>
                </li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header4">
                <div class="header-card">
                    <div class="header-text">Attendance</div>
                    <img src="./images/image 7.png" alt="" class="header-img">
                </div>
            </div>



            <div class="card-group2">

                <div class="marks-card1" style="width: 17rem">
                    <div class="topic1">Tuition</div>
                    <div class="card-body">
                        <div class="h4-card">

                            <div class="b3-text">ABC</div>
                        </div>
                        <div class="h4-card">

                            <div class="b3-text">ABC</div>
                        </div>
                        <div class="h4-card">

                            <div class="b3-text">ABC</div>
                        </div>
                    </div>
                </div>
                <div class="marks-card21" style="width: 17rem">
                    <div class="topic2">Topic</div>
                    <div class="card-body">
                        <div class="h4-card">

                            <div class="b1-text">Motion in 1D</div>
                        </div>
                        <div class="h4-card">

                            <div class="b1-text">Motion in 2D</div>
                        </div>
                        <div class="h4-card">

                            <div class="b1-text">Newton Laws</div>
                        </div>
                    </div>
                </div>
                <div class="marks-card2" style="width: 17rem">
                    <div class="topic2">Date</div>
                    <div class="card-body">
                        <div class="h4-card">

                            <div class="m1-text">Jan 2</div>
                        </div>
                        <div class="h4-card">

                            <div class="m1-text">Jan 5</div>
                        </div>
                        <div class="h4-card">

                            <div class="m1-text">Jan 6</div>
                        </div>
                    </div>
                </div>
                <div class="marks-card3" style="width: 17rem">
                    <div class="topic3">Status</div>
                    <div class="card-body">
                        <div class="h4-card">

                            <div class="b11-text">Present</div>
                        </div>
                        <div class="h4-card">

                            <div class="b11-text">Present</div>
                        </div>
                        <div class="h4-card">

                            <div class="b12-text">Absent</div>
                        </div>
                    </div>
                </div>


            </div>
</body>

</html>