{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <style>
        a {
            color: aliceblue
        }
    
        a:hover {
            color: #08bd7f;
        }
    </style> 
</head>
<body>
    <div class="top-bar">
        {% if user.is_authenticated %}
        <a class="login hehe navside" href=""> {{user.name}} </a>
        <a class="login hehe navside" href="{% url 'logout' %}"> Logout </a>
        {% else %}
        <a class="login hehe navside" href="{% url 'login' %}"> Login </a>
        <a class="login hehe navside" href="{% url 'reg' %}"> Register </a>
        {% endif %}
    </div>
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li class="navside">
                    <a href="{% url 'tuitions' %}"  class="hehe"><i class="fas fa-graduation-cap"></i>My Tuitions</a>
                </li>
                <li class="navside">
                    <a href="#"><i class="fas fa-search"></i>Search</a>
                </li>
                <li class="navside">
                    <a href="#"><i class="fas fa-calendar"></i>Schedule</a>
                </li>
                <li class="navside">
                    <a href="#"><i class="fas fa-location-dot"></i>Location</a>
                </li>
                <li class="navside">
                    <a href="#"><i class="fas fa-question"></i>Quiz</a>
                </li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header">
                <div class="header-card">
                    <div class="h-img">
                        <img src="{% static 'image 1.png' %}" alt="" />
                    </div>
                    <div class="header-text">{{t}}</div>
                </div>
            </div>
            <div class="header2-card">
                <div class="header2-text">Tuition centers for you</div>
                {% if user.user_type != '1' %}
                <div class="h-button hehe navside">Explore All</div>
                {% else %}
                <div class="h-button hehe navside"><a href="{% url 'add_student' %}">Add students</a></div>
                <div class="h-button hehe navside"><a href="{% url 'add_staffs' %}">Add staffs</a></div>
                {% endif %}
            </div>
    
    
            <div class="card-group">
                {% for staff in staff_req%}
                <div class="card" style="width: 21.5rem">
                    <img class="card-img-top" src="{% static 'Group 8.png' %}" alt="Card image cap" />
                    <div class="card-body">
                        <div class="h-card">
                            <div class="c2-text">
                                <i class="fa-solid fa-location-dot"></i>{{staff.subject}}
                            </div>
                            <div class="c-text">{{t}}</div>
                        </div>
                        <p class="card-text">
                            Class X , Class XI and <br> Class XII
                        </p>
                        <div class="h-card">
                            <div class="c1-text">{{staff.name}}</div>
                            <a class="explore hehe" href="{% url 'staff_view' tuition=name staff=staff.id %}">Explore</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="card" style="width: 21.5rem">
                        <img class="card-img-top" src="{% static 'Group 9.png' %}" alt="Card image cap" />
                        <div class="card-body">
                            <div class="h-card">
                                <div class="c2-text">
                                    <i class="fa-solid fa-location-dot"></i>CHENNAI
                                </div>
                                <div class="c-text">Physics</div>
                            </div>
                            <p class="card-text">
                                Class X , Class XI and <br> Class XII
                            </p>
                            <div class="h-card">
        
                                <div class="c1-text">XYZ tuition</div>
                                <a class="explore hehe ">Explore </a>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 21.5rem">
                        <img class="card-img-top" src="{% static 'Group 8.png' %}" alt="Card image cap" />
                        <div class="card-body">
                            <div class="h-card">
                                <div class="c2-text">
                                    <i class="fa-solid fa-location-dot"></i>ERODE
                                </div>
                                <div class="c-text">Chemistry and Maths</div>
                            </div>
                            <p class="card-text">
                                Class X , Class XI and <br> Class XII
                            </p>
                            <div class="h-card">
        
                                <div class="c1-text">MNO tuition</div>
                                <a class="explore hehe ">Explore </a>
                            </div>
                        </div>
                    </div> -->
            </div>
</body>
</html>